.calculation-result {
    display: none;
}

#min-horizon-slider {
    width: calc(100% - 20px);
    margin: 10px 0 10px 10px;
}

.axis {

    path,
    line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    text {
        font-family: sans-serif;
        font-size: 10px;
    }
}

.tle {
    display: none;
    margin-top: 5px;
}

.tle-data {
    margin-bottom: 15px;
}

.waterfall {
    margin-top: 5px;

    img {
        margin: auto;
        padding: 5px;
    }
}

#status-selector {
    display: block;
}

.demoddata {
    display: none;
}

.data-label {
    margin-top: 10px;
    display: inline-block;
}

.data-well {
    font-family: monospace;
    word-wrap: break-word;
}

.tab-data {
    margin-top: 25px;
}

.form-group.status-filter {
    display: inline-block;
}

.badge-unknown {
    margin-top: -15px;
    margin-left: -7px;
    font-size: .7em;
}

.badge-data-count {
    margin-top: -15px;
    margin-left: -7px;
    padding: 3px;
    font-size: .6em;
    background-color: #6c757d;
    color: white;
}

.data-link {
    color: white;
}

#load-data-btn-group button {
    margin-right: 5px;
}

#decode-btn-group,
#load-data-btn-group {
    margin-top: 5px;
}

#demoddata-spinner,
#vetting-spinner,
#rating-spinner {
    display: none;
}

#waterfall-status {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#waterfall-current-status,
#waterfall-status-form {
    margin: 0.3em;
}
